.form-control:focus, textarea.form-control:focus, input:focus, textarea.form-control:focus:not([rows="1"]) {
    box-shadow: unset;
    border: 1px solid grey;
}
.container {
    text-align: justify;
}
body{
    zoom: 2;
}
img.attach {
    max-width: 90%;
    display: block;
    margin: auto;
}